.mainmenu {
  display: flex;
  list-style: none;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -24px;
}

.mainmenu li {
  margin: 24px 24px;
  display: list-item;
  text-align: -webkit-match-parent;
}

.mainmenu li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link_underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.link_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header_navbar {
  background-color: white;
  padding: 0 40px;
  border-radius: 10px;
}
